table, tr, td{
    border: 3px solid black;
    border-collapse: collapse;
}
h1{
    text-align: center;
}
table{
    text-align: center;
    width: 50%;
    margin: 0 auto 0 auto;
}
caption{
    color:blue;
    font-size: large;
}
img{
    width: 50%;
    height: 50%;
}
.columna{
    background-color: red !important;
    color: white;
}
tr.memoria td{
    background-color: gray;
}

#horas{
    background-color: lightblue;
}
#horas1{
    background-color: yellow;
}