*{
    box-sizing: border-box;
    border: 1px solid white;
}
section{
    border: none !important;
}
.container{
    width:780px;
 margin: 0 auto;

}
header{
    background-color: green;
    height: 10em;
    width:780px;
}
article{
    width: 259px;
    height: 10em;
    background-color: grey;
    float: left;
}
footer{
    background-color: greenyellow;
    width:780px;
    height: 10em;
    clear: both;
}