*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F5F6F6;
}
.container{
    background-color: #F7FFFF;
    width: 80%;
    margin: auto;
}
/*Header*/
header{
    background-color: white;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 100;
}
header img{
    height: 20%;
}

/*Section*/

.contenedorSeccion{
    display: flex;
    flex-direction: row;
}
section{
    text-align: center;
    width: 90%;
}
ol li:hover{
    background-color: #F7FFFF !important;
}
ol li {
    padding: 1%;
    border: 0;
}
ol li ul {
    list-style: none;
    border: 0 !important;
}
ol li ul li{
    padding: 0%;
    border: 0 !important;
}
/*Aside*/
aside{
    width: 30%;
}

aside ul{
    list-style: none;
}
li:hover{    
    background-color: white;

}
li{
    border-bottom: 1px solid black;
    padding: 2%;
}
a:visited{
    color: black;
}
a{
    color: black;
    text-decoration: none;
    padding: 2%;
}

/*Footer*/

footer{
    padding: 1%;
    background-color: black;
    color: lightslategrey;
    text-align: center;
}